@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* *::selection{
  user-select: red;
} */
@font-face {
  font-family: "poppins";
  src: url("./assets/fonts/Poppins-Light.ttf"), local("poppins");
  overflow: initial;
}

@font-face {
  font-family: "roboto";
  src: url("./assets/fonts/Roboto-Light.ttf"), local("poppins");
}

body {
  cursor: url("./assets/images/mainCursor.png"), auto;
  font-family: system-ui, "roboto", "poppins";
}

.custom-grid-col {
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  justify-content: center;
  /* aspect-ratio: ; */
  gap: 7px;
}

.bg-blur {
  background: rgba(255, 255, 255, 0.1); /* Adjust opacity as needed */
  backdrop-filter: blur(3px); /* Adjust the blur amount */
}

.bg-blur-dark {
  background: #11182757; /* Adjust opacity as needed */
  backdrop-filter: blur(3px); /* Adjust the blur amount */

}

.custom-grid-col-150 {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 35px;
  align-items: start;

}

button.clicked{
  @apply bg-blue-600 rounded-lg flex items-center justify-center;
}



/* button.clicked svg{
  @apply text-white  !important;
} */

button.clicked svg path{
  @apply stroke-white  ;
}

*::-webkit-scrollbar {
  background-color: rgba(128, 128, 128, 0.315);
  border-radius: 20px;
  width: 3.5px;
  position: relative;
  overflow: hidden;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(37 99 235 /1);
  border-radius: 20px;
  position: relative;
  /* box-shadow: 0px -1000009px 10px 1000000px rgb(53, 53, 243); */
  overflow: hidden;
}

* {
  scrollbar-color: rgb(37 99 235 /1) rgba(128, 128, 128, 0.315);
  scrollbar-width: thin; /* 'thin' or 'auto' */
}

.hideScrollBar::-webkit-scrollbar {
  background-color: rgba(128, 128, 128, 0.315);
  border-radius: 20px;
  width: unset !important;
  position: relative;
  overflow: hidden;
}

/* li{
  scrollbar-color:  #1f2937 #475569   !important;
  scrollbar-width: thin;
} */

.hideScrollBar::-webkit-scrollbar-thumb {
  background-color: rgb(37 99 235 /1);
  border-radius: 20px;
  position: relative;
  /* box-shadow: 0px -1000009px 10px 1000000px rgb(53, 53, 243); */
  overflow: hidden;
  width: unset;
}

.hideScrollBar {
  scrollbar-color: unset;
  scrollbar-width: none; /* 'thin' or 'auto' */
}

@keyframes clickframe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.click {
  animation: clickframe 0.2s alternate linear;
}

.custom-font-size {
  font-size: clamp(5px, 0.9vw, 50px);
  text-wrap: nowrap;
}

.minion::before{
  content: '';
  width: 5px;
  height: 40px;
  position: absolute;
  bottom: -40px;
  z-index: 30;
  left: 50%;
  transform: translateX(-50%);
  background: #2563eb;
  @apply bg-blue-600 rounded-md;
  transition: .2s;
}

.minion:last-child::before{
  background: red !important;
  display: none;
}

.react-colorful {
  position: absolute !important ;
  padding: 1px;
  border-radius: 4px;
  width: 100% !important;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}
.react-colorful__saturation {
  /* border-radius: 4px 4px 0 0; */
  width: 100% !important;
}

.your-component .react-colorful__hue {
  height: 40px;
  border-radius: 0 0 4px 4px;
}
.your-component .react-colorful__hue-pointer {
  width: 12px;
  height: inherit;
  border-radius: 0;
}

#gjs {
  border: none !important;
  box-shadow: none;
}

.gjs-cv-canvas {
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

.gjs-one-bg {
  @apply bg-gray-900 rounded-lg text-white custom-font-size;
}

.gjs-two-color {
  @apply text-slate-200;
}

/* Tertiary color for the background */
.gjs-three-bg {
  background-color: #ec5896;
  color: white;
}

.gjs-block-category.gjs-open {
  all: unset;
}
.gjs-toolbar{
  /* border-radius: 20px !important; */
  /* @apply rounded-bl-lg !important; */
}

.gjs-badge{
  @apply px-3 text-slate-200 font-bold text-[12px]  bg-blue-600 ;

}

.gjs-highlighter-sel {
  outline: 2.5px solid #2563eb !important;
  border-radius: 4px !important;
  transition: .2s;
  /* width: fit-content; */
}

.gjs-rte-toolbar{
  @apply  bg-gray-950 
}

.gjs-rte-toolbar svg{
  /* all: unset; */
  width: 90px !important;
  stroke-width: 90px !important;
  fill: red;
}

 .gjs-rte-toolbar span{
  @apply  text-[18px] w-[32px] h-[32px] border-gray-700 
}

.gjs-toolbar-items{
  @apply items-center gap-3 py-[5px] px-2 flex bg-blue-600 
}

.gjs-toolbar svg {
  transition: .1s;
  width: 19px !important;
  transform: scale(1.1);
}


.gjs-toolbar-item svg:hover{
  transform: scale(1.4);
}

.gjs-block {
  @apply w-full bg-gray-900 border-none p-2 m-0 shadow-none rounded-lg hover:text-slate-200 text-slate-300  font-bold flex justify-center items-center;
}

.gjs-btn-prim {
  @apply py-[7.5px] px-[30px]  font-bold bg-blue-600 rounded-lg  text-white flex custom-font-size justify-center items-center;
}

.gjs-am-add-asset {
  @apply flex justify-between gap-[15px] w-full;
}

.gjs-blocks-c {
  /* all: uns */
  /* @apply max-w-[50%] !important; */
}

.gjs-block-categories {
  @apply gap-4;
}

.gjs-block-category .gjs-title {
  @apply py-2;
}

.gjs-field {
  @apply p-2 rounded-lg;
}

.gjs-title,
.gjs-sm-sector-title {
  direction: rtl;
  @apply w-full bg-slate-800  p-[10px] flex justify-between items-center  rounded-lg text-slate-300 break-all capitalize custom-font-size  font-bold h-full mr-2 !important;
}

.gjs-blocks-cs.gjs-one-bg.gjs-two-color {
  @apply h-fit bg-transparent p-0 bottom-0 shadow-none;
}

.gjs-blocks-no-cat {
  /* @apply hidden; */
}

.gjs-sm-properties {
  @apply py-3 px-2 bg-slate-800;
}

.gjs-sm-property {
  @apply w-full text-slate-300 custom-font-size font-bold bg-gray-900 py-1 rounded-lg flex justify-between items-center;
}

.gjs-block-category .gjs-title {
  @apply hidden !important;
}

#gjs-mdl-c .modal-content.gjs-sm-properties > div > div:nth-child(3) {
  @apply flex gap-[10px] items-center;
}

.gjs-layer-title {
  @apply text-[15px] font-bold;
}

.gjs-layer-item {
  @apply p-3 bg-gray-800 transition-all mt-2;
}

.gjs-layer-item:hover {
  /* all: unset !important; */
  @apply bg-gray-800 !important;
}

.gjs-layer-caret {
  @apply w-[25px] text-blue-400 !important;
}

.gjs-selected [data-toggle-select=""] .gjs-layer-caret {
  @apply text-white font-bold w-[27px] !important;
}

.gjs-layer-vis-on,
.gjs-layer-vis {
  @apply w-[20px] !important;
}

.gjs-layer-count {
  @apply text-[16px] font-semibold text-blue-400 !important;
}

.gjs-selected [data-toggle-select=""] .gjs-layer-count {
  @apply text-white font-bold !important;
}

.gjs-layer-move {
  @apply z-50  w-[22px];
}

.gjs-selected [data-toggle-select=""] {
  @apply bg-blue-600 !important;
}
